body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body div,
body div * {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.topbar {
  height: 60px;
  background-color: rgba(255, 201, 95);
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.topbar-icon {
  font-size: 24px;
  line-height: 24px;
  font-weight: 100;
  margin: 10px 10px 10px 0;
}

.topbar-title {
  line-height: 1;
}

.topbar-button {
  line-height: 1;
}

.buttons {
  text-decoration: none;
  color: #232323;
  font-weight: 700;
  font-size: 20px;
}

@media (max-width: 500px) {
  .buttons {
    font-size: 17.5px;
  }
  .notification > span {
    font-size: 15px !important;
  }
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.right-section {
  margin-left: auto;
}

.content {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.85) 0%, rgb(35, 35, 35, 0.95) 0.5%, rgba(53, 52, 50, 0.9) 25%, rgba(68, 67, 64, 0.9) 50%, rgba(126, 125, 122, 0.9) 75%, rgba(255, 255, 255) 100%);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}
.notification {
  background: linear-gradient(to right, rgba(255, 201, 95, .5) 0%, rgba(230, 184, 93, .5) 100%);
  padding: 16px;
  border-radius: 5px;
  border: 1px solid rgba(255, 201, 95);
  margin-bottom: 32px;
  width: 90vw;
}
.notification > span {
  color: #fff;
  font-size: 20px;
}
.search {
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0);
  padding-left: 15px;
  padding-right: 15px;
  width: 50vw;
  align-self: center;
  height: 30px;
}
.cards {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -16px;
  width: 75vw;
  justify-content: center;
}
.card {
  margin: 32px 0 0 24px;
  padding: 16px;
  background-color: #EFEFEF;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .25);
  min-width: 320px;
  max-width: 37.5vw;
  flex: 1;
}
@media (max-width: 1015px) {
  .card {
    min-width: 250px;
    width: 100px;
    margin: 32px 8px 0 8px;
  }
  .notification {
    width: 75vw;
  }
}
.card-title {
  line-height: 1;
}
.card-tags {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -8px;
}
.card-tag {
  margin-top: 8px;
  margin-left: 8px;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 8px;
}
.card-tag.tag-0 {
  background-color: #cdcdcd;
  border: 2px solid #949494;
  color: #6b6b6b;
}
.card-tag.tag-1 {
  background-color: #e1dcee;
  border: 2px solid #a797cd;
  color: #564289;
}
.card-tag.tag-2 {
  background-color: #e6f3f5;
  border: 2px solid #a7c6c9;
  color: #5a6e71;
}
.card-tag.tag-3 {
  background-color: #e1dcee;
  border: 2px solid #a797cd;
  color: #564289;
}
.card-tag.tag-4 {
  background-color: #f8f4eb;
  border: 2px solid #d9c9af;
  color: #7f745d;
}
.card-tag.tag-5 {
  background-color: #f7eaea;
  border: 2px solid #dbb9b9;
  color: #7e5f5f;
}
.card-tag.tag-6 {
  background-color: #e6f3f5;
  border: 2px solid #a7c6c9;
  color: #5a6e71;
}
.card-tag.tag-7 {
  background-color: #f7eaea;
  border: 2px solid #dbb9b9;
  color: #7e5f5f;
}
.card-tag.tag-8 {
  background-color: #f5f9e8;
  border: 2px solid #d6dbb1;
  color: #7f8a63;
}
.card-tag.tag-9 {
  background-color: #f8f4eb;
  border: 2px solid #d9c9af;
  color: #7f745d;
}



.card-description {
  padding-top: 8px;
  border-top: 1px solid rgba(0,0,0,0.1);
  margin-top: 16px;
  font-size: 14px;
  color: #999;
}
